Package: fizmo-console-dbgsym
Source: fizmo-console
Version: 0.7.10-3
Architecture: amd64
Maintainer: Christoph Ender <christoph.ender@spellbreaker.org>
Installed-Size: 58
Depends: fizmo-console (= 0.7.10-3)
Section: debug
Priority: extra
Homepage: https://fizmo.spellbreaker.org/
Description: Debug symbols for fizmo-console
Auto-Built-Package: debug-symbols
Build-Ids: 7ca35134966d33401947305fcca3447a16557e6c
